@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  display: none;
}
@layer components {
  section {
    @apply py-6 px-12;
  }
  input, textarea {
    @apply outline-none resize-none py-2 px-4 text-black;
  }
}